.floor {
  padding: 0.15rem;
}

.floor h3 {
  font-size: 0.2rem;
  font-weight: normal;
  text-align: left;
}

.floor ul {
  display: flex;
  flex-wrap: wrap;
}

.floor ul li {
  width: 0.7rem;
  height: 1.05rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.floor ul a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.floor ul a img {
  width: 0.6rem;
  height: 0.6rem;
}

.floor ul a span {
  font-size: 0.12rem;
}
